@import "variables";
header{
    position: sticky;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div{
        height: 3.5em;
        width: 13em;
        background-color:$nav_bar_color;
        border-radius: 30%;
        -webkit-border-radius: 55%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        -o-border-radius: 30%;
        
        ul{
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            padding: 0;
            justify-content: center;
    
            li{
                list-style: none;
                svg{
                    width: 1.5em;
                    opacity: 0.2;
                    transition: 1s;
                    -webkit-transition: 1s;
                    -moz-transition: 1s;
                    -ms-transition: 1s;
                    -o-transition: 1s;
                    &:hover{
                        opacity: 1;
                        }
                }
                
            }
        }
    }
}