@import "variables";

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    .profile{
        border-radius:10% 40%;
        -webkit-border-radius:10% 40%;
        -moz-border-radius:10% 40%;
        -ms-border-radius:10% 40%;
        -o-border-radius:10% 40%;
        background-color:$nav_bar_color;
        margin: 1.5em;
        img{
            width: 10em;
            border-radius: 20%;
        }
        text-align: center;
        p{
            padding: 0 .5em;
        }
        .socials{
            position: sticky;
            ul{
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 0;
                
                column-gap: 10px;
            }
            svg{
                width: 1.5em;
            }
        }
    }
    .info{
        grid-column: 4/5;
        padding: 1em;
        .main_title{
            text-align: center;
            font-size: 2em;
        }
        .main_title_color{
            color: $second_part_title;
        }
        .goal{
            text-align: center;
            font-size: 1.3em;
        }
    }
}