@import "variables";


//screen size 900px//
// header
@media (min-width: $desktop) {
    header{
        top: 4px;
        div{
            height: 3.5em;
            width: 13em;
            background-color:$nav_bar_color;
            border-radius: 10%;
            -webkit-border-radius: 10%;
            -moz-border-radius: 10%;
            -ms-border-radius: 10%;
            -o-border-radius: 10%;
            ul{
                column-gap: 20px;
                li{
                    svg{
                        width: 1.5em;
                    }
                }
            }
        }
    }
}
//main//
@media(min-width: $desktop){
    main{
        padding: 0;
        margin-top: -4em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            .profile{
                position:fixed;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                top: 0;
                padding: 0;
                margin: 0 auto;
                background-color:$nav_bar_color;
                height:45em;
                .container_profile{
                    display: flex;
                    flex-direction: column;
                    img{
                        width: 50%;
                        border-radius: 20%;
                        padding-top: 2em;
                        -webkit-border-radius: 20%;
                        -moz-border-radius: 20%;
                        -ms-border-radius: 20%;
                        -o-border-radius: 20%;
                    }
                    text-align: center;
                }
                .socials{
                    svg{
                        width: 2em;
                    }
                }
            }
        }
        .info{
            grid-column: 2/4;
            .part_1{
                .experience{
                    ul{
                        display: flex;
                        flex-direction:row;
                        justify-content:center;
                    }
                }
            }
        }
    }
}
