//colors
$main_color : #222831;
$nav_bar_color: #393e46;
$text_color: #eeeeee;
$second_part_title: #D6BD98;
$pop_ups: #0092ca;
$button: #f6490d;

//media sizes
$desktop: 1500px;
$tablet: 800px;
$small_device: 660px;
$cellphone: 400px;
