header {
    background: linear-gradient(to right, #ffd6ff, #d6ffff);
    position: fixed;
    width: 100%;
    z-index: 999;

    .logo {
        text-align: center;
        
        a {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px;
        color: white;
        text-shadow: 3px 3px #558abb;
        text-align: center;
        text-decoration: none;
        }
    }
}