main {
    padding: 63px 10px 10px 10px;

    .home {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        height: 500px;
        width: 100%;
        background-image: url(../../images/sky_thick.jpg);

        #top {
            display: flex;
            align-items: center;
        }

       p {
        padding-left: 128px;
       }

        img {
            width: 100px;
            height: 100px;
            min-width: 100px;
            min-height: 100px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 28px;
        }

    }

    section {
        margin: 0 1vw;

        h2 {
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        }

        p {
            margin: 0 auto;
            font-family:inherit
        }

    }

    // .sky {
    //     height: 500px;
    //     background-image: url(../../note_contrast.jpg);
    // }

    

    

}