@media screen and (max-width:468px) {
    main {
        .home {
            p {
                padding: 0 2vw;
            }
        }
    }
}

@media screen and (max-width:330px) {
    main {

        .home {

            #top {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
                h1 {
                    padding: 0 2vw;
                }
            }

            p {
                padding: 0 2vw;
            }
        }
    }
}


// @media screen and (max-width:200px) {
//     .home {
//         display: flex;

//     }
// }